* { box-sizing: border-box; }

.container{
	width: 80%;
	margin: 0 auto;
}

.header h1 {
	text-align: center;
}
.column {
	display: inline-block;
	float: left;
	width: 33.33333333333333%;
	padding: 0 20px;
}
.main-text{
	clear: both;
	padding-top: 60px;
	padding: top right bottom left;
}
 img {
	width: 100%;
}

#skill-list {
	margin-left: 50px;
}

body {
	background-color: #fffeea;
	color: #34495e;
	padding-top: 40px;
}


/*typography*/

h1,
h2,
h3 {
	font-family: Futura, Helvetica,Ariel, sans-serif;
}



p,
li {
	font-family: Georgia, Cambria, Serif;
}

.intro p {
  font-family: Futura, Helvetica, Arial, sans-serif;
  font-size: 1.9em;
  font-weight: 100;
  -webkit-margin-before: 0;
}

.skills h3 {
	text-align: center;
	text-transform: uppercase;
	
}

.skills {
	background-color: #5AD4C2;
	color: #FFF;
	padding-top: 15px;
	padding-bottom: 40px;
  
}

/* NAV-BAR */

.nav ul {
float: right;
}

.nav ul li { 
	display: inline-block;

}

.nav {
	background-color: black;
	position: fixed;
	width: 100%;
	top: 0px;
	min-height: 50px;
  
}

.nav ul li a {
	color: white;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	padding: 20px 20px 20px;
	text-decoration: none;
	transition: color 600ms;
	-webkit-transition: color 600ms; /*--Safari */

}
.nav a:hover {
	color: #ff0;
	text-decoration: 
}

/* BOOTSTRAP COLUMNS */

.row {
	margin: 30px;
}


